<div id="<%= dom_id expense %>">
  <p>
    <strong>Price:</strong>
    <%= expense.price %>
  </p>

  <p>
    <strong>Concept:</strong>
    <%= expense.concept %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= expense.category %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

</div>
